
<!DOCTYPE html>
<html lang="es">
<head>
    <title>CLIENTES</title>
<link rel="stylesheet" href="http://localhost/pw/veterinaria/css/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="padding:70px;">
    <div class="pure-g content" style="text-align: center;">
        <div class="pure-u-1-12">
            <fieldset>
                <legend style="color: blue;">CLIENTES</legend>
                <form action="" method="post"
                    class="pure-form pure-form-stacked" style="margin-bottom:30px;">
                    <input type="hidden" name="IdCliente" value="" />
                    <table style="width:500px;">
                        <tr>
                            <th style="text-align:left;">Nombre</th>
                            <td><input type="text" name="Nombre" value=""
                                    style="width:100%;" required /></td>
                        </tr>
                        <tr>
                            <th style="text-align:left;">Apellido Paterno</th>
                            <td><input type="text" name="ApelldioP" value=""
                                    style="width:100%;" required /></td>
                        </tr>
                        <tr>
                            <th style="text-align:left;">Telefono</th>
                            <td><input type="number" name="Telefono" value=""
                                    style="width:100%;" required /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="pure-button pure-button-primary">Guardar</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>
            <p></p>
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th style="text-align:left;">IdCliente</th>
                        <th style="text-align:left;">Nombre</th>
                        <th style="text-align:left;">Apellido </th>
                        <th style="text-align:left;">Telefono</th>
                        <th style="text-align:left;">Editar</th>
                        <th style="text-align:left;">Eliminar</th>            
                    </tr>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="" class="link-primary">
                            <div class="aling-self-center">
                                <span class="material-icons" style="color: green;">&#xe745;</span>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="" class="link-primary">
                            <div class="aling-self-center">
                                <span class="material-icons" style="color: red;">&#xe92b;</span>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>












